.App {
  text-align: center;
  background-color: #EAEAEA;
  height: 100%;
}

.TitleText{
  color: gray;
  padding-top: 30px;
}

.searcharea{
  border-radius: 20px;
  width: 250px;
  height: 30px;
  padding-left: 20px;
  font-size: 20px;
  border-style: solid;
  margin-bottom: 20px;
}
.inputarea{
  width: 400px;
  height: 75px;
  margin: 15px;
  border-radius: 10px;
  border-color: solid black;
  padding: 10px;
}

.destroy{
    background-color: transparent;
    display: contents ;
}

.header{
  display: inline-flex;
  flex-flow: row-reverse;
}
.text-white{
  color: white;
}